* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  color: white;
  font-family: arial;
  font-size: 60px;
  position: relative;
}

section div {
  width: 30px;
  height: 30px;
  border: 5px solid white;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50%;
}

div {
  cursor: pointer;
}

.s1 {
  background-color: darkcyan;
}

.s2 {
  background-color: royalblue;
}


section h1 {
  position: absolute;
  transition: 1s;
  top: 40%;
}

.s1 h1 {
  left: -200%;

}

.s1 div:hover + h1 {
  left: 10%;
}

.s2 h1 {
  left: 10%;
  opacity: 0;
}

.s2 div:hover + h1 {
  opacity: 1;
}
